/* -------------------PAGE----------------- */

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
    color: #111;
    padding-left: 4px;
}

a {
    text-decoration: none;
    color: #111;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

footer {
    background-color: #1e1823;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.span-word {
    color: #fd9222;
}

.container {
    width: 1168px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
}

/* -------------------PAGE----------------- */

/* -------------------HEADER----------------- */

.header-logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    display: flex;
    align-items: flex-start;
}

.header-logo-link {
    display: block;
    padding: 28px 0;
}

.header-logo-accent {
    font-style: italic;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    display: flex;
    align-items: flex-start;
    gap: 24px;

}

.header-navigation-link {
    display: block;
    padding: 28px 0;
}

.header-navigation .header-navigation-link:hover,
.header-navigation .header-navigation-link:focus {
    color: #fd9222;
}

/* -------------------HEADER----------------- */

/* -------------------HERO----------------- */

.hero-section {
    background-color: #1e1823;
    border-radius: 30px;
    padding-top: 375px;
    padding-bottom: 46px;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-container {
    padding: 0 40px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    width: 484px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
}

.hero-button {
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    border: none;
    width: 144px;
    height: 45px;
    margin-right: 14px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-link {
    background-color: #1e1823;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    max-width: 183px;
    max-height: 45px;
    white-space: nowrap;
}

.hero-link:hover,
.hero-link:focus {
    background-color: #fafafa;
    color: #fd9222;
}

.hero-scroll {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}

/* -------------------HERO----------------- */

/* -------------------BENEFITS----------------- */

.benefits-section {
    background-color: #1e1823;
    margin-top: 72px;
}

.benefits-section-list {
    display: flex;
    padding: 50px 50px;
}

.benefits-section-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column ;
    width: calc((100% - 140px) / 3);
}

.benefits-section-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-section-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* -------------------BENEFITS----------------- */

/* -------------------TASTE----------------- */

.taste-section {
    display: flex;
    flex-direction: column;
    padding: 100px 16px;
    align-items: center;
}

.title-text-box {
    margin-bottom: 50px;
    width: 486px;
}

.taste-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
}

.taste-section-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
}

.taste-section-list {
    display: flex;
    gap: 19px;
}

.chocolate {
    background-color: #fd9222;
    border-radius: 15px;
}

.milk-semi {
    background-color: #fff;
    border: 1px solid #fd9222;
    border-radius: 15px;
}

.nuts {
    background-color: #1e1823;
    border-radius: 15px;
}

.calc {
    display: flex;
    flex-direction: column;
    width: calc((100% - 57px) / 4);
    padding: 28px 32px;
    gap: 36px;
}

.chocolate-nuts-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.milk-semi-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* -------------------TASTE----------------- */

/* -------------------MADE----------------- */

.made {
    padding: 0 16px 100px 16px;
}

.made-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.made-container {
    display: flex;
    gap: 20px;
}

.made-subcontainer {
    background-color: #fff;
    border-radius: 15px;
    padding: 32px;
}

.made-section-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.made-section-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* -------------------MADE----------------- */

/* -------------------REVIEWS----------------- */

.reviews {
    display: flex;
    flex-direction: column;
    padding: 0 16px 100px 16px;
    gap: 50px;
}

.reviews-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.reviews-list {
    display: flex;
    gap: 28px;
}

.reviews-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc((100% - 56px) / 3);
}

.reviews-section-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.reviews-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    gap: 18px;
}

.reviews-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
    padding: 104px 24px 24px 24px;
    margin-top: -80px;
    flex: 1
}

.reviews-section-button {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 14px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    margin: 0 auto;
}

.reviews-section-button:hover,
.reviews-section-button:focus {
    background-color: #fd9222;
    color: #fff;
}

/* -------------------REVIEWS----------------- */

/* -------------------FOOTER----------------- */

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 58px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    color: #fff;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.footer-address-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fff;
    font-style: normal;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.footer-address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    font-style: normal;
}

.footer-address-item > a {
    color: #fff;
}

.nav {
    display: flex;
    gap: 24px;
}

.footer-nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.footer-nav-link {
    color: #fff;
    display: block;
    padding: 28px 0;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: #fd9222;
}

/* -------------------FOOTER----------------- */